{% extends '/base.html.twig' %}

{% block title %}Création d'une chasse{% endblock %}

{% block body %}
    <link href="{{ asset('styles/createHunt.css') }}" rel="stylesheet">
    <script src="{{ asset('js/imagePreview.js') }}"></script>
    <div class="creation_puzzle d-flex flex-column align-items-center vh-100">

        <!-- HEADER -->
        <div class="vw-100 d-flex justify-content-between align-items-center p-3 creation_puzzle_header">
            <button class="btn btn-danger btn-lg" onclick="window.history.back()">Annuler</button>
            <h2 class="text-center mb-0 flex-grow-1" style="font-weight: bold;">Créer une chasse</h2>
            <button class="btn btn-success btn-lg save-button" type="submit" form="creationForm">Enregistrer</button>
        </div>

        <!-- Main -->
        <div class="main">

            {{ include('components/_imageUpload.html.twig') }}

            <!-- Preview -->
            <div id="preview"></div>

            <!-- Formulaire -->
            <div class="form-container">
                <div class="form-group">
                    <p>Titre</p>
                    <input type="text" name="title" placeholder="Entrez le titre" maxlength="30">
                </div>

                <div class="form-group">
                    <p>Description</p>
                    <textarea name="description" class="description-input" placeholder="Entrez la description" maxlength="500"></textarea>
                </div>

                <div class="form-group">
                    <p>Jouable en équipe</p>
                    <select name="hunt_type">
                        <option value="solo">Oui</option>
                        <option value="team">Non</option>
                    </select>
                </div>
            </div>

            <!-- Questions -->
            <div class="questions-container">

                {{ include('components/_question_card.html.twig') }}
                {{ include('components/_question_card.html.twig') }}
                {{ include('components/_question_card.html.twig') }}

            </div>

        </div>
    </div>
{% endblock %}
