{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% include 'components/_header.html.twig' %}
    <div class="page-form">
        <div class="form-card">
            <h1 class="form-title">S'inscrire</h1>

            {{ form_start(form, {attr: {class: 'form-grid'}}) }}

            {{ form_errors(form) }}

            <div class="full">
                {{ form_label(form.nickname) }}
                {{ form_widget(form.nickname) }}
                <div class="form-error">
                    {{ form_errors(form.nickname) }}
                </div>
            </div>

            <div>
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}
                <div class="form-error">
                    {{ form_errors(form.firstname) }}
                </div>
            </div>

            <div>
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname) }}
                <div class="form-error">
                    {{ form_errors(form.lastname) }}
                </div>
            </div>

            <div class="full">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                <div class="form-error">
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <div>
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
                <div class="form-error">
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            </div>

            <div>
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
                <div class="form-error">
                    {{ form_errors(form.plainPassword.second) }}
                </div>
            </div>

            <div class="full">
                {{ form_label(form.avatar) }}
                {% include 'components/_avatarUpload.html.twig' with { field: form.avatar } %}
                <div class="form-error">

                    {{ form_errors(form.avatar) }}
                </div>
            </div>

            <input type="hidden" id="avatar-cropped" name="avatar_cropped">

            <div id="avatar-modal" class="avatar-modal hidden">
                <div class="avatar-dialog">
                    <div class="avatar-crop-area" id="avatar-crop">
                        <img id="avatar-crop-image" draggable="false" alt="avatar">
                        <div class="avatar-circle"></div>
                    </div>
                    <div class="avatar-actions">
                        <input type="range" id="avatar-zoom" min="0.5" max="3" step="0.01" value="1">
                        <button type="button" class="btn btn-secondary" id="avatar-cancel">Annuler</button>
                        <button type="button" class="btn btn-primary" id="avatar-apply">Utiliser</button>
                    </div>
                </div>
            </div>

            <div class="full">
                {{ form_label(form.biography) }}
                {{ form_widget(form.biography) }}
                <div class="form-error">
                    {{ form_errors(form.biography) }}
                </div>
            </div>

            <div class="full address-block">
{#                {{ form_label(form.address) }}#}
                {{ form_widget(form.address) }}
                <div class="form-error">
                    {{ form_errors(form.address) }}
                </div>
            </div>

            <div class="actions full">
                {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-lg'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
